body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: white;
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 25px;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  input[type="email"], button {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .message-box {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
  }
  
  .message-success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .message-error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .forgot-password {
    text-align: left;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
  }

  .forgot-password a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }

  .forgot-password a:hover {
    text-decoration: underline;
  }