body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: white;
  }

  .settings-header {
    text-align: left;
  }

  .settings-subheader {
    margin-bottom: 2%;
  }
  
  .logout-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  .account {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    tarnsition: background-color 0.3s ease;
    margin-bottom: 3rem;
  }

  .account:hover {
    background-color: #e9e8e8;
  }

  .set-img {
    height: 3rem;
    width: 3rem;
  }

  .content {
    font-size: 1rem;
  }
  
  .chevron {
    width: 2rem;
    height: 2rem;
    margin-left: auto;
  }

  .message-box {
    margin: 15px 0;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    display: none;
  }
  
  .message-success {
    background-color: #d4edda;
    color: black;
    border: 1px solid #c3e6cb;
  }
  
  .message-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
  .back-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.back-icon svg {
  width: 100%;
  height: 100%;
  stroke: black;
}
